/* Базовый контейнер табов */
.tabs {
  padding: 0px;
  margin: 0 auto;
  text-align:center
}
/* Стили секций с содержанием */
section {
  display: none;
  /* padding: 15px; */
  background: #fff;
  /* border: 1px solid #ddd;*/
}
.tabs input {
  display: none;
}
/* Стили вкладок (табов) */
.tabs label {
  display: inline-block;
  border: #55adf5 1px solid;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
  font-size: 18px;
  /*box-sizing: border-box;*/
  color: #55adf5;
  background: white;
  line-height: 22px;
}
/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
  color: #0d7dd9;
  cursor: pointer;
}
/* стили для активной вкладки */
.tabs input:checked + label {
  color: white;
  background: #55adf5;
  border-color: #55adf5;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

